{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5 d-flex align-items-center flex-wrap justify-content-center justify-content-lg-between">  
    {% for machine in template_data.machines %}
    <div class="card col-md-4 col-lg-3 mb-4 mx-2 my-2 {% if machine.no_food %} border border-3 border-danger {% else %}  border border-3 border-success {% endif %}" style="width: 22rem;">
        {% if machine.no_food %}
        <div class="card-header text-center bg-danger text-white">
            Sin comida
        </div>
        {% else %}
        <div class="card-header text-center bg-success text-white">
            Con comida
        </div>
        {% endif %}
        <img class="card-img-top " src="{% static 'img/food-machine.png' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title mb-3">Máquina #{{ machine.id }}</h5>
            <dl class="row">
              <dt class="col-sm-6 fw-bold">Siguiente porción programada:</dt>
              <dd class="col-sm-6">
                {% if machine.next_refill %}
                  {{ machine.next_refill }}
                {% else %}
                  No existe una porción programada
                {% endif %}
              </dd>
          
              <dt class="col-sm-6 fw-bold">Última porción dada:</dt>
              <dd class="col-sm-6">
                {% if machine.last_refill %}
                  {{ machine.last_refill }}
                {% else %}
                  No existe una porción dada
                {% endif %}
              </dd>
          
              <dt class="col-sm-6 fw-bold">Contador de porciones dadas:</dt>
              <dd class="col-sm-6">{{ machine.dispense_count }}</dd>
          
              <dt class="col-sm-6 fw-bold">Tamaño de la porción:</dt>
              <dd class="col-sm-6">{{ machine.portion_size }} giros</dd>
            </dl>
            <form class="dispense-form" data-endpoint="{% url 'api.pets.dispense' %}" data-id="{{ machine.id }}">
                <input type="number" id="id" name="id" value="{{ machine.number }}" hidden>
                <button type="submit" class="btn btn-primary mt-3"  {% if machine.no_food %} disabled {% endif %}>
                    Dar una porción
                </button>
            </form>
            <a href="{% url 'pets.edit' machine_id=machine.id %}" class="btn btn-secondary mt-3"> Editar máquina de mascotas </a>
          </div>
    </div>
    {% endfor %}

    <div class="col-md-6">
      <div class="card">
        <img src="{% static 'img/instructions-BLE.png' %}" class="card-img-top" alt="Imagen de mascotas">
        <div class="card-body">
          <h5 class="card-title"><b>Información para conexión red WIFI</b></h5>
          <ol>
              <li>Descargue y abra la app nRF Connect (u otra que permita conexión BLE).</li>
              <li>Busque el dispositivo ESP32-S3 WiFi Config y presione Connect.</li>
              <li>Ubique las características BLE (UUIDs) para enviar datos (SSID y password).</li>
              <li>Envíe el SSID y la contraseña sobre cada campo, en formato UTF-8, usando las características correspondientes.</li>

          </ul>
        </div>
      </div>
    </div>


</div>

<script src="{% static 'js/request_dispense.js' %}"></script>



{% endblock content %}
