{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="row justify-content-center w-100">
        {% for garbage in template_data.garbage_info%}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title h-25 my-3">{{ garbage.title }}</h5>
                    <div class="d-flex justify-content-center">
                        <div class="trash-container">
                            <i class="fa-solid fa-trash fa-6x trash-icon"></i>
                        </div>
                        <div class = "bar-container mx-1">
                            <div class="fill" id="fill-{{garbage.fill_name}}"></div>
                        </div>
                    </div>
                    <br>
                    <span>Espacio disponible <p id="occupancy-rate-{{ garbage.fill_name }}" class="mt-2">Cargando...</p></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var totalHeightGarbage = "{{ template_data.total_height_garbage }}";
</script>
<script src = "{% static 'js/fetch_garbage.js' %}"></script>
{% endblock content %}
